#Backgroud{
    background-color: #c8eef9;
}
.NavBar{
    background-color: #47a1ef;

}
.Contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.Datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.Pie{
    
}

#Tuna{
    /*para flex direction row , justify-content alinea cosas en el eje x, y algin-items alinea cosas en el eje y*/
    /* para flex directioon column, es lo contrario */
}